/.vs/
Backup/
bin/
obj/
shadowsocks-csharp/shadowsocks-csharp.csproj.user
TestResults
*.suo

shadowsocks-csharp/3rd/*
packages/*

shadowsocks-csharp.sln.DotSettings.user
/Photon/Encryption
/Photon/Model
/Photon/Obfs
/Photon/Util
